body {
	background-image: url('imgs/backgroundTile.jpg');
	background-repeat: repeat;
	margin: 0px;
	color: #fff;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size: 12px;
}

div.body {
	width: 980px;
	margin: 0 auto;
}

.buttons{
	padding: 10px 0;
	text-align: right;
}

#main{
	position: fixed;
	top: 0;
  	left: 0;
	display: none;
}

#trace{
	position: fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
}

#cam {
  position: static;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1000;
  width: 320px;
	height: 240px;
	display: none;
}
